# Task 4.4

 # 1. Importing Libraries

In [78]:
# import libraries

import pandas as pd
import numpy as np
import os

In [12]:
# import data sets from original data folder

path = r'/Users/shikhakamboj/Documents/JAN-2025 Instacart Basket Analysis'

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

# 2. Wrangling Data

In [123]:
# remove the "eval_set" column from  “orders.csv” dataframe

df_ords2 = df_ords.drop(columns = ['eval_set'])

In [125]:
# To find out missing values
df_ords['days_since_prior_order'].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [127]:
# Renaming Columns

df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

# 2.1 Changing a Variable’s Data Type

In [28]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [30]:
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [32]:
df_ords['order_id'].dtype

dtype('O')

# 2.2 Transposing Data

In [34]:
# Importing data set departments.csv

df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [88]:
# transposing df_dep

df_dep_t= df_dep.T

In [50]:
new_header = df_dep_t.iloc[0]
new_header

0    department
Name: department_id, dtype: object

In [52]:
df_dep_t_new = df_dep_t[1:]

In [56]:
df_dep_t_new.columns = new_header

# 3. Data Dictionaries

In [60]:
data_dict = df_dep_t_new.to_dict('index')

In [62]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [91]:
print(data_dict.get('19'))

{'department': 'snacks'}

In [68]:
df_snacks =  df_prods[df_prods['department_id']==19]

In [74]:
df_snacks_2 = df_prods.loc[df_prods['department_id'] == 19]
df_snacks_2.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

# 4. Task

In [100]:
# Step-2 Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable.

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(4), object(2)
memory usage: 182.7+ MB

In [116]:
# according to me, order_number is identifier variable as it is unique for each user

df_ords['order_number'] = df_ords['order_number'].astype('str')

In [118]:
# checking data type

df_ords['order_number'].dtype

dtype('O')

Step-3 Already did in above steps (changed "order_dow" to "orders_day_of_week")

In [135]:
# Step-4 busiest hour is for placing orders.

df_ords['order_hour_of_day'].value_counts(dropna = True)

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

The busiest hour for placing orders is 10 AM, with 11 AM following closely behind.

In [138]:
# step-5 Determine the meaning behind a value of 4 in the "department_id" column

print(data_dict.get('4'))

{'department': 'produce'}

In [140]:
# Step-6 The sales team in your client’s organization wants to know more about breakfast item sales.
# first we need to identify department_id for breakfast

data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

Department_id for breakfast is 14.

In [143]:
df_breakfast = df_prods.loc[df_prods['department_id'] == 14]

In [145]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

Step -7  They’d also like to see details about products that customers might use to throw dinner parties.

department_id for alcohol = 5, deli = 20, beverages = 7, meat/seafood = 12

In [154]:
dinner_party_departments = [5, 20, 7, 12]

df_dinner_parties = df_prods.loc[df_prods['department_id']. isin (dinner_party_departments)]

In [156]:
# step -8  How many rows does the last dataframe you created have?

df_dinner_parties.shape

(7650, 5)

In [172]:
#Step-9 Information abour user whose user_id=1

df_user_1 = df_ords[df_ords['user_id'] == 1]

In [174]:
df_user_1.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

Step -10 Details about this user’s behavior

In [176]:
# Total number of orders by User 1

total_orders = df_user_1.shape[0]
total_orders

11

In [180]:
df_user_1.describe()

       user_id  orders_day_of_week  order_hour_of_day  days_since_prior_order
count     11.0           11.000000          11.000000               10.000000
mean       1.0            2.636364          10.090909               19.000000
std        0.0            1.286291           3.477198                9.030811
min        1.0            1.000000           7.000000                0.000000
25%        1.0            1.500000           7.500000               14.250000
50%        1.0            3.000000           8.000000               19.500000
75%        1.0            4.000000          13.000000               26.250000
max        1.0            4.000000          16.000000               30.000000

Total Orders: 11, 
Preferred Day: Likely Tuesday or Wednesday, 
Preferred Hour: Around 10 AM, 
Average Days Between Orders: 19 days, 
Order Frequency Range: From same-day orders to 30-day gaps.

In [184]:
# Step-12 Export your df_ords dataframe as “orders_wrangled.csv” in your “Prepared Data” folder.

df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [186]:
# Step-13 Export the df_dep_t_new dataframe as “departments_wrangled.csv”

df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))