# 01 Importing Libraries

In [2]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [4]:
# setting path
path = r'/Users/shikhakamboj/Documents/JAN-2025 Instacart Basket Analysis'

# import data sets from original data folder 

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = 0)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [6]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [10]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [20]:
# Merging df_ords dataframe with df_ords_prior

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how='outer',indicator = True)

In [21]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,112108,train,4,4,10,9.0,NaN,NaN,NaN,left_only
1,2,202279,prior,3,5,9,8.0,33120.0,1.0,1.0,both
2,2,202279,prior,3,5,9,8.0,28985.0,2.0,1.0,both
3,2,202279,prior,3,5,9,8.0,9327.0,3.0,0.0,both
4,2,202279,prior,3,5,9,8.0,45918.0,4.0,1.0,both

In [24]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

# Task

In [29]:
# Step 2 
# Exported the merged file in pickle format

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [31]:
df_merged_large.shape

(32640698, 11)